body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 2000px;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.formex{
  max-width: 600px;
  padding: 5px;
  margin: 0 auto;
  background-color: #ff0000;
}
.formex .formex-heading,
.formex .checkbox {
  margin-bottom: 5px;
  background-color: #ffff00;
}
.formex .checkbox {
  font-weight: normal;
}
.formex .formex-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.formex .formex-control:focus {
  z-index: 2;
}
.formex input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.formex input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}