<!DOCTYPE html>
<html>
<head>
  <title>TEST</title>
 </head>
<body>

<div ng-app="myApp">
    <div ng-controller="SelectController">
      <input type="text" ng-model="service.id">
      <h1>{{service.id}}</h1>  -- {{service.name}}
      <button ng-click="generate()">Generate</button>
    </div>

    <div ng-controller="GraphController">
      <input type="text" ng-model="service.id">
      <h1>{{service.id}}</h1>
    </div>
  </div>

  <script src="/js/angular1.3.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="aWatch.js"></script>
</body>
</html>