<div  id="container" class="container">
    <form class="formex" ng-submit="postReq()" role="formex" method="post" novalidate>
        <input type ="password" name="txtAdmin" id="txtAdmin"  ng-model="addPass">
        {{ addPass?md5String(addPass):""}} <br/>
        <textarea name="txtRequest" id="txtRequest" cols="60" rows="2" ng-model="txtReq">
        </textarea>
        <p></p>
        <textarea name="txtReturn" id="txtReturn" cols="60" rows="8" ng-model="txtReturn">
        </textarea>
        <button id="btnSub" class="btn btn-lg btn-primary" type="submit">发送</button>
    </form>
</div>


<div ng-controller="testtest">

<!--
  <select ng-model="test1" multiple ng-options="m for m in testUser"
          style="position:absolute;" id="tttt"> </select>

  <input type="text" ng-model="test1" name="txtSelect" id="txtSelect"/>



  {{test1}} this is a test
  <button ng-click="showme()"> showme </button>
  <button ng-click="showme2()"> showme2 </button>
-->
  <span dir-select-user="userPack"></span>
  
  {{userPack}}


</div>

<script type="text/javascript">
  function setPositionAbsolute()
  {
    document.getElementById("tttt").style.top="20px";
  }
</script>

<input type="button" id="b1" onclick="document.getElementById('tttt').style.top='20px';" value="Set button position to be absolute" />

