<div class="contentBodySearch">
  <span class='contentBodySearchItem'>
    <div>
      <input ng-model="para.seek.seekUserFlag" id="txtSeekUserFlag" name="txtSeekUserFlag" type="checkbox"/> 用户
      <input ng-disabled="!para.seek.seekUserFlag" ng-model="para.seek.seekUser" id="txtSeekUser" name="txtSeekUser" type="text" placeholder="内容" />
      <input ng-model="para.seek.seekStateFlag" id="txtSeekStateFlag" name="txtSeekStateFlag" type="checkbox"/> 状态
      <br/>
      <input ng-model="para.seek.seekContentFlag" id="txtSeekContentFlag" name="txtSeekContentFlag" type="checkbox"/> 内容
      <input ng-disabled="!para.seek.seekContentFlag" ng-model="para.seek.seekContent" id="txtSeekContent" name="txtSeekContent" type="text" placeholder="内容" />
      <button ng-click="taskfilter()"> 查找 </button>
      <br/>
      &nbsp;
    </div>
  </span>
  <span class='contentBodySearchItem'> <select ng-disabled="!para.seek.seekStateFlag" ng-model="para.seek.seekState" multiple ng-options="m for m in para.planState"></select>
  </span>
</div>