<div id="alt_info" ng-show="rtnInfo" class="alert alert-success">
    <span ng-bind="rtnInfo"></span>
</div>

    <h2 class="divex-heading"> 任务梯次 </h2>
    <span>
    <div>
    <input ng-model="seekUserFlag" id="txtSeekUserFlag" name="txtSeekUserFlag" type="checkbox"/> 用户
    <input ng-disabled="!seekUserFlag" ng-model="seekUser" id="txtSeekUser" name="txtSeekUser" type="text" placeholder="内容" />
        <input ng-model="seekStateFlag" id="txtSeekStateFlag" name="txtSeekStateFlag" type="checkbox"/> 状态
        <br/>
    <input ng-model="seekContentFlag" id="txtSeekContentFlag" name="txtSeekContentFlag" type="checkbox"/> 内容
    <input ng-disabled="!seekContentFlag" ng-model="seekContent" id="txtSeekContent" name="txtSeekContent" type="text" placeholder="内容" />
        <button ng-click="taskfilter()"> 查找 </button>
        <br/>
        &nbsp;
    </div>
    </span>
    <span> <select ng-disabled="!seekStateFlag" ng-model="seekState" multiple ng-options="m for m in planState"></select>

    </span>

<br/>
<div class="divex-list">
    <hr/>
    <div class="divex-listHeader">
        <span style="width:30px;">   序号  </span>
        <span ng-show="showDebug" style="width:300px;"> uuid </span>
        <span style="width:150px;"> 内容 </span>
        <span ng-show="showDebug" style="width:40px;"> 父任务 </span>
        <span style="width:140px;">计划开始</span>
        <span style="width:140px;">计划结束</span>
        <span ng-show="showDebug" style="width:140px;">结束时间</span>
        <span style="width:40px;">状态</span>
        <span style="width:60px;">所有者</span>
        <span style="width:60px;">承担者</span>
        <span style="width:40px;">私有</span>
        <span style="width:40px;">完成情况</span>
    </div>
    <hr/>
    <div class="divex-listContent" ng-repeat='taskItem in taskSet' >
        <span ng-class="taskItem.classShow">
        <span>   {{ taskItem.preFix }} </span>
        <span ng-show="showDebug" style="width:200px;">{{ taskItem.UUID }}</span>
        <span style="width:150px;">{{taskItem.CONTENT.substr(0,15) }}</span>
        <span ng-show="showDebug" style="width:40px;">{{ taskItem.UPTASK }}</span>
        <span style="width:140px;">{{taskItem.PLANSTART.substr(0,16)}}</span>
        <span style="width:140px;">{{taskItem.PLANFINISH.substr(0,16)}}</span>
        <span ng-show="showDebug" style="width:140px;">{{taskItem.FINISH}}</span>
        <span style="width:40px;">{{taskItem.STATE}}</span>
        <span style="width:60px;">{{taskItem.OWNER}}</span>
        <span style="width:60px;">{{taskItem.OUGHT}}</span>
        <span style="width:40px;">{{taskItem.PRIVATE}}</span>
        <span style="width:40px;">{{taskItem.subTask}}</span>
        <button ng-click="taskExpend($index)"> 展 </button>
        <button ng-click="taskEdit($index)"> 改 </button>
        <button ng-click="taskAdd($index)"> +子</button>
        <button ng-click="subWorkList($index)"> 工作 </button>
        </span>
        <br/>
    </div>
    <hr/>
    <button ng-click="taskGet()"> 下<span ng-bind="limit"></span>条 </button>
</div>
<div ng-include="'incTaskEdit.html'" ></div>