<div>

  <div class="content" ng-show="para.editMode=='list'">
    <div class="contentHead" ng-show="para.rtnInfo">
      <span class="markInfo" ng-bind="para.rtnInfo"></span>
    </div>
    <span dir-edit-task="taskEditor"></span>
    <h3> 任 务   <button ng-click="subPara.dirAddTask(null)"> + </button> </h3>
    <div class='contentBody'>
      <div ng-include="'incTaskSearch.html'" ></div>
    </div>
    <hr/>
    <div class="contentBodyTitle">
      <span style="width:30px;">   序号  </span>
      <span ng-show="para.showDebug" style="width:300px;"> uuid </span>
      <span style="width:240px;"> 内容 </span>
      <span ng-show="para.showDebug" style="width:40px;"> 父任务 </span>
      <span style="width:80px;">计划开始</span>
      <span style="width:80px;">计划结束</span>
      <span ng-show="para.showDebug" style="width:140px;">结束时间</span>
      <span style="width:150px;">承担者</span>
      <span style="width:60px;">所有者</span>
      <span style="width:40px;">状态</span>
      <span style="width:40px;">私有</span>
    </div>
    <hr/>
    <div class="contentBodyContent" ng-repeat='taskItem in para.taskSet' >
      <span style="line-height :30px; width:100%;" >
      <span class="contentBodyContentItemPanel" style="width:20px;">    {{$index}}  </span>
      <span class="contentBodyContentItemPanel" ng-show="para.showDebug" style="width:300px;">{{ taskItem.UUID }}</span>
      <span class="contentBodyContentItemPanel" style="width:250px;">{{taskItem.CONTENT.substr(0,16)||'&nbsp;' }}</span>
      <span class="contentBodyContentItemPanel" ng-show="para.showDebug" style="width:40px;">{{ taskItem.UPTASK }}</span>
      <span class="contentBodyContentItemPanel" style="width:80px;">{{taskItem.PLANSTART.substr(0,10)||'&nbsp;'}}</span>
      <span class="contentBodyContentItemPanel" style="width:80px;">{{taskItem.PLANFINISH.substr(0,10)||'&nbsp;'}}</span>
      <span class="contentBodyContentItemPanel" ng-show="para.showDebug" style="width:140px;">{{taskItem.FINISH}}</span>
      <span class="contentBodyContentItemPanel" style="width:150px;">{{taskItem.OUGHT.substr(0,16)||'&nbsp;'}}</span>
      <span class="contentBodyContentItemPanel" style="width:60px;">{{taskItem.OWNER}}</span>
      <span class="contentBodyContentItemPanel" style="width:40px;">{{taskItem.STATE}}</span>
      <span class="contentBodyContentItemPanel" style="width:40px;">{{taskItem.PRIVATE||'&nbsp;'}}</span>
      <span class="contentBodyContentItemPanel"  >
      <button ng-click="subPara.dirEditTask($index)">详</button>
      <button ng-click="subPara.dirAddTask($index)">+子</button>
      <button ng-click="subWorkList($index)">工作</button>
      </span>
      </span>
    </div>
    <hr style="border : 1px dashed blue;" />
    <div class="contentFoot">
      <button ng-disabled="para.noData" ng-click="taskGet()"> 下<span ng-bind="para.locate.limit"></span>条 </button>
    </div>
  </div>
  <div ng-include="'incTaskEdit.html'" ></div>

</div>
