<div class="content" ng-show="para.editMode=='list'">
  <div class="contentHead" ng-show="para.rtnInfo">
      <span class="markInfo" ng-bind="para.rtnInfo"></span>
  </div>

  <h3 class="divex-heading"> 任务梯次 </h3>
  <div class='contentBody'>
    <div ng-include="'incTaskSearch.html'" ></div>
  </div>
  <hr/>
  <div class="contentBodyTitle">
    <span style="width:30px;">   序号  </span>
    <span ng-show="para.showDebug" style="width:300px;"> uuid </span>
    <span style="width:150px;"> 内容 </span>
    <span ng-show="para.showDebug" style="width:40px;"> 父任务 </span>
    <span style="width:80px;">计划开始</span>
    <span style="width:80px;">计划结束</span>
    <span ng-show="para.showDebug" style="width:140px;">结束时间</span>
    <span style="width:40px;">状态</span>
    <span style="width:60px;">所有者</span>
    <span style="width:60px;">承担者</span>
    <span style="width:40px;">私有</span>
    <span style="width:80px;">完成情况</span>
  </div>
  <hr/>
  <div class="contentBodyContent" style="white-space:nowrap;"
       ng-repeat='taskItem in para.taskSet' expandMark="{{taskItem.expandMark}}" expandSelect="{{taskItem.preFix}}">
    <span ng-class="taskItem.classShow" style="line-height :30px; margin-bottom: 2px;" >
      <span style="width: 10px;"></span>
      <span style="padding-right: 10px;background-color: #67BF7F;">   {{ taskItem.preFix }} </span>
      <span ng-show="para.showDebug" style="width:200px;">{{ taskItem.UUID }}</span>
      <span style="width:150px;">{{taskItem.CONTENT.substr(0,15) }}</span>
      <span ng-show="para.showDebug" style="width:40px;">{{ taskItem.UPTASK }}</span>
      <span style="width:70px;">{{taskItem.PLANSTART.substr(0,10)}}</span>
      <span style="width:70px;">{{taskItem.PLANFINISH.substr(0,10)}}</span>
      <span ng-show="para.showDebug" style="width:140px;">{{taskItem.FINISH}}</span>
      <span style="width:40px;">{{taskItem.STATE}}</span>
      <span style="width:60px;">{{taskItem.OWNER}}</span>
      <span style="width:100px;">{{taskItem.OUGHT.substr(0,8)||'&nbsp;'}}</span>
      <span style="width:40px;">{{taskItem.PRIVATE||'&nbsp;'}}</span>
      <span style="width:40px;">{{taskItem.subTask}}</span>
      <span style="margin:0px;padding:0px;">
        <button ng-click="taskExpend($index)">展</button><button ng-click="taskEdit($index)">详</button><!--
        --><button ng-click="taskAdd($index)"> +子</button><button ng-click="subWorkList($index)">工作</button>
      </span>
    </span>
    <br/>
  </div>
  <hr style="border : 1px dashed blue;" />
  <div class="contentFoot">
      <button ng-disabled="para.noData" ng-click="taskGet()"> 下<span ng-bind="para.locate.limit"></span>条 </button>
  </div>
</div>
<div ng-include="'incTaskEdit.html'" ></div>