<div class="content" ng-show="para.editMode=='list'">
  <div class="contentHead" ng-show="para.rtnInfo">
    <span class="markInfo" ng-bind="para.rtnInfo"></span>
  </div>
  <h3 class="divex-heading"> 工作记录 </h3>

  <div class='contentBody'>
    <div class="contentBodySearch">
      <span class='contentBodySearchItem'>
        <span>
          <div>
            <input ng-model="para.seek.seekUserFlag" id="txtSeekUserFlag" name="txtSeekUserFlag" type="checkbox"/> 用户
            <input ng-disabled="!para.seek.seekUserFlag" ng-model="para.seek.seekUser" id="txtSeekUser" name="txtSeekUser" type="text" placeholder="内容" />
            <br/>
            <input ng-model="para.seek.seekContentFlag" id="txtSeekContentFlag" name="txtSeekContentFlag" type="checkbox"/> 内容
            <input ng-disabled="!para.seek.seekContentFlag" ng-model="para.seek.seekContent" id="txtSeekContent" name="txtSeekContent" type="text" placeholder="内容" />
            <br/>
            <input ng-model="para.seek.seekTaskFlag" id="txtSeekTaskFlag" name="txtSeekTaskFlag" type="checkbox"/> 父任务
            <input ng-disabled="true" ng-model="para.seek.seekTask" id="txtSeekTask" name="txtSeekTask" type="text" placeholder="内容" />
            <br/>
            <span class="linkButton"><a href="#/taskList/navi" > 查找任务 </a> </span>
            <button ng-disabled="!para.seek.seekTaskUUID" ng-click="workAdd()"> 增加子记录 </button>
            <button ng-click="workfilter()"> 条件查找 </button>
          </div>
        </span>
        <span ><input ng-model="para.seek.seekStateFlag" id="txtSeekStateFlag" name="txtSeekStateFlag" type="checkbox"/> 状态 </span>
        <span><select ng-disabled="!para.seek.seekStateFlag" ng-model="para.seek.seekState" multiple ng-options="m for m in para.planState"></select></span>
      </span>
    </div>
  </div>
  <hr/>
  <div class="contentBodyTitle">
    <span style="width:30px;">   序号  </span>
    <span ng-show="para.showDebug" style="width:300px;"> uuid </span>
    <span style="width:240px;"> 内容 </span>
    <span ng-show="para.showDebug" style="width:40px;"> 父任务 </span>
    <span style="width:70px;">创建时间</span>
    <span style="width:100px;">最后更新</span>
    <span style="width:40px;">状态</span>
    <span style="width:60px;">所有者</span>
    <span style="width:40px;">私有</span>
    <span style="width:40px;">权限</span>
    <span ng-show="para.showDebug" style="width:40px;">记忆间隔</span>
    <span style="width:40px;">记忆</span>
    <span style="width:120px;">提醒闹钟</span>
  </div>
  <hr/>
  <div class="contentBodyContent" ng-repeat='workItem in para.workSet' >
    <span style="width:20px;">    {{$index}}  </span>
    <span class="subExpand" style="line-height :30px; margin-bottom: 2px;" >
      <span ng-show="para.showDebug" style="width:300px;">{{ workItem.UUID }}</span>
      <span style="width:240px;">{{workItem.CONTENT.substr(0,15)||"&nbsp;" }}</span>
      <span ng-show="para.showDebug" style="width:40px;">{{ workItem.UPTASK }}</span>
      <span style="width:72px;">{{workItem.CREATETIME.substr(0,10)}}</span>
      <span style="width:120px;">{{workItem.LASTMODIFY.substr(0,16)||"&nbsp;"}}</span>
      <span style="width:40px;">{{workItem.STATE}}</span>
      <span style="width:60px;">{{workItem.OWNER}}</span>
      <span>
        <input style="width:40px;" ng-disabled="1" ng-checked="workItem.PRIVATE?true:false" type="checkbox"/>
      </span>
      <span style="width:40px;">{{workItem.LEVEL||"&nbsp;"}}</span>
      <span ng-show="para.showDebug" style="width:40px;">{{workItem.MEMPOINT.substr(0,6)}}</span>
      <span><input style="width:40px;" ng-disabled="1" ng-checked="workItem.MEMEN?true:false" type="checkbox"/></span>
      <span style="width:75px;">{{workItem.MEMTIMER.substr(0,10)||"&nbsp;"}}</span>
      <span>
      <button ng-click="workEdit($index)"> 详 </button><!--
      --><button ng-click="workAdd($index)"> 增 </button>
      </span>
    </span>
    <br/>
  </div>
  <hr style="border : 1px dashed blue;" />
  <button ng-disabled="para.noData" ng-click="workGet()"> 下<span ng-bind="para.locate.limit"></span>条 </button>
</div>

<div class="divModal" ng-show="para.editMode=='edit'" style="width:100%;height:100%;background-color:#9999CC;position:absolute;top:0;left:0;z-index:10;display:inline;" >
  <div class="contentHead" ng-show="para.rtnInfo">
    <span class="markInfo" ng-bind="para.rtnInfo"></span>
  </div>

  <div class="modalContent">
    <form name="editForm" id="editForm" novalidate>
      <button ng-click="workSave()"> 原地保存 </button>
      <button ng-click="workSave(true)"> 保存 </button>
      <button ng-click="workCancel()"> 取消 </button>
      <button ng-click="workDelete()"> 删除 </button>
      <hr/>
      任务信息：<input ng-show="false" ng-model="para.work.UPTASK" id="txtUPTASK" name="txtUPTASK" type="text" class="fromex-control" placeholder="父任务" />
      <button ng-disabled="para.work.parent" ng-click="workGetParent(para.work.UPTASK)"> V </button>
      <div ng-show="para.work.parent">
        <textarea ng-model="para.work.parent.CONTENT" class="formex-control" cols="50" rows="4" > </textarea>
      </div>
      <hr/>
      <input ng-show="false" ng-model="para.work._exState" id="txt_exState" name="txt_exState" type="text" class="fromex-control" placeholder="_exState"  />
      <input ng-show="para.showDebug" ng-model="para.work.UUID" id="txtUUID" name="txtUUID" type="text" class="fromex-control" placeholder="task id"  />
      创建时间：
      <input ng-model="para.work.CREATETIME" valid-date-model id="txtCREATETIME" name="txtCREATETIME" type="text" class="fromex-control" placeholder="YYYY-MM-DD HH:MM" />
      工作状态：<select style="width:80px;" ng-model="para.work.STATE"  ng-options="m for m in para.planState">
      <option value="">-- 请选择 --</option>
    </select>
      <br/>最后编辑：
      <input ng-model="para.work.LASTMODIFY"  id="txtLASTMODIFY" name="txtLASTMODIFY" type="text" class="fromex-control" placeholder="YYYY-MM-DD HH:MM" valid-date-model/>
      <span  > 所有者： </span>
      <input style="width:80px;" ng-model="para.work.OWNER" id="txtOWNER" name="txtOWNER" type="text" class="fromex-control" placeholder="所有者" />
      <br/>
      <span > 阅读权限： </span>
      <input style="width:50px;" ng-model="para.work.LEVEL" id="txtLEVEL" name="txtLEVEL" type="text" class="fromex-control" placeholder="阅读权限"   />
      <input ng-model="para.work.PRIVATE" id="txtPRIVATE" name="txtPRIVATE" type="checkbox" text = "私有"/>私有
      <input ng-model="para.work.MEMEN" ng-click="memCheck()" id="txtMEMEN" name="txtMEMEN" type="checkbox" text = "记忆"/> 加强记忆
      <button ng-click="workMem()"> 本次记忆完成 </button>
      <br/> 记忆间隔: <input style="width:80px;" ng-disabled="false" ng-model="para.work.MEMPOINT" id="txtMEMPOINT" name="txtMEMPOINT" type="text" text = "记忆"/>
      下次提醒: <input style="width:80px;" ng-model="para.work.MEMTIMER" id="txtMEMTIMER" name="txtMEMTIMER" type="text" text = "记忆"/>
      <br/>
      <span > 内容： </span>
      <textarea ng-model="para.work.CONTENT" class="formex-control" name="txtMsg" id="txtCONTENT" cols="45" rows="10" placeholder="内容" > </textarea>
    </form>
    <span class="mark" ng-show="editForm.$invalid"> 表单校验失败，请更正红底的输入项目。 </span>
  </div>
</div>